---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4111111111111111&card[exp_month]=12&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17rpaADKp2PH1im89l4doePh",
          "object": "token",
          "card": {
            "id": "card_17rpa9DKp2PH1im8NaturMsM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "4jQtsmxZsTNhO09i",
            "funding": "unknown",
            "last4": "1111",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "114.198.35.116",
          "created": 1458653402,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 22 Mar 2016 13:30:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=aspiring.user%40myflix.com&plan=base&source=tok_17rpaADKp2PH1im89l4doePh&description=Charge%20for%20test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_885lYHm1JzijqN",
          "object": "customer",
          "account_balance": 0,
          "created": 1458653403,
          "currency": "aud",
          "default_source": "card_17rpa9DKp2PH1im8NaturMsM",
          "delinquent": false,
          "description": "Charge for test@example.com",
          "discount": null,
          "email": "aspiring.user@myflix.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17rpa9DKp2PH1im8NaturMsM",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_885lYHm1JzijqN",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2018,
                "fingerprint": "4jQtsmxZsTNhO09i",
                "funding": "unknown",
                "last4": "1111",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_885lYHm1JzijqN/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_885lEexJXTutvH",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1461331803,
                "current_period_start": 1458653403,
                "customer": "cus_885lYHm1JzijqN",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1458644673,
                  "currency": "aud",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Base Plan",
                  "statement_descriptor": "MyFlix Base",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1458653403,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_885lYHm1JzijqN/subscriptions"
          }
        }
  recorded_at: Tue, 22 Mar 2016 13:30:03 GMT
recorded_with: VCR 2.9.3
