---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17uE6aDKp2PH1im8iSw2wPZx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17uE6aDKp2PH1im8iSw2wPZx",
          "object": "event",
          "api_version": "2015-08-19",
          "created": 1459224324,
          "data": {
            "object": {
              "id": "ch_17uE6aDKp2PH1im8AYFJLVtO",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_17uE6aDKp2PH1im8q5tUjOJj",
              "captured": true,
              "created": 1459224324,
              "currency": "aud",
              "customer": "cus_8AZFQTHr2qBeY8",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_17uE6aDKp2PH1im8QmyxW8dS",
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17uE6aDKp2PH1im8AYFJLVtO/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17uE6YDKp2PH1im8b8ChEPns",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8AZFQTHr2qBeY8",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "0HbsD6QYJI5p2850",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "MyFlix Base",
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8AZFfWKgaawlwm",
          "type": "charge.succeeded"
        }
  recorded_at: Tue, 29 Mar 2016 05:30:37 GMT
recorded_with: VCR 2.9.3
