---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=johny%40super.man&plan=base&source=tok_17rpp1DKp2PH1im8JuyeFgAu&description=MyFlix%20subscription%20for%20johny%40super.man
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card"
          }
        }
  recorded_at: Tue, 22 Mar 2016 13:45:25 GMT
recorded_with: VCR 2.9.3
