---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=aud&source=tok_17HvhjDKp2PH1im89bCRBD5Z&description=MyFlix%20Sign%20Up%20Charge%20for%20johny%40super.man
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_17HvhkDKp2PH1im8uBNxjdyD"
          }
        }
  recorded_at: Mon, 14 Dec 2015 12:45:29 GMT
recorded_with: VCR 2.9.3
