---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17uLxTDKp2PH1im8jrOj0daw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17uLxTDKp2PH1im8jrOj0daw",
          "object": "event",
          "api_version": "2015-08-19",
          "created": 1459254511,
          "data": {
            "object": {
              "id": "ch_17uLxTDKp2PH1im8vbZactJx",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1459254511,
              "currency": "aud",
              "customer": "cus_8Aay9fqkNYjIzY",
              "description": "failed payment test",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17uLxTDKp2PH1im8vbZactJx/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17uLwZDKp2PH1im8BBWkF0o3",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Aay9fqkNYjIzY",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "NKE3YB0x2GpksC2Y",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": "req_8AhM8V5f4NZnqc",
          "type": "charge.failed"
        }
  recorded_at: Tue, 29 Mar 2016 12:38:21 GMT
recorded_with: VCR 2.9.3
