---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=aud&source=tok_17FkLNDKp2PH1im8oZm3YQg0&description=MyFlix%20Sign%20Up%20Charge%20for%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17FkLPDKp2PH1im8om3VlCQB",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17FkLPDKp2PH1im8bxoTAu37",
          "captured": true,
          "created": 1449576803,
          "currency": "aud",
          "customer": null,
          "description": "MyFlix Sign Up Charge for joe@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17FkLPDKp2PH1im8om3VlCQB/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17FkLNDKp2PH1im86YJOk7YF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "0HbsD6QYJI5p2850",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 08 Dec 2015 12:13:23 GMT
recorded_with: VCR 3.0.0
