---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=joe%40example.com&plan=base&source=tok_17rpoYDKp2PH1im8EWAghEn3&description=MyFlix%20subscription%20for%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8860woIWnZTgAX",
          "object": "customer",
          "account_balance": 0,
          "created": 1458654295,
          "currency": "aud",
          "default_source": "card_17rpoYDKp2PH1im82jh5ymqO",
          "delinquent": false,
          "description": "MyFlix subscription for joe@example.com",
          "discount": null,
          "email": "joe@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17rpoYDKp2PH1im82jh5ymqO",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8860woIWnZTgAX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "0HbsD6QYJI5p2850",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8860woIWnZTgAX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8860KIlkEJRUnQ",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1461332695,
                "current_period_start": 1458654295,
                "customer": "cus_8860woIWnZTgAX",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1458644673,
                  "currency": "aud",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Base Plan",
                  "statement_descriptor": "MyFlix Base",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1458654295,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8860woIWnZTgAX/subscriptions"
          }
        }
  recorded_at: Tue, 22 Mar 2016 13:44:55 GMT
recorded_with: VCR 2.9.3
