---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4111111111111111&card[exp_month]=12&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17GUosDKp2PH1im86jCOEWdZ",
          "object": "token",
          "card": {
            "id": "card_17GUosDKp2PH1im83gQMVtNS",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "4jQtsmxZsTNhO09i",
            "funding": "unknown",
            "last4": "1111",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "203.217.82.37",
          "created": 1449755454,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 10 Dec 2015 13:50:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=aud&source=tok_17GUosDKp2PH1im86jCOEWdZ&description=Charge%20for%20test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_gaOL7PbHP7skvnrmbrChhX7G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17GUotDKp2PH1im8Jtkhc2mW",
          "object": "charge",
          "amount": 400,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17GUotDKp2PH1im8r822lJxt",
          "captured": true,
          "created": 1449755455,
          "currency": "aud",
          "customer": null,
          "description": "Charge for test@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17GUotDKp2PH1im8Jtkhc2mW/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17GUosDKp2PH1im83gQMVtNS",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "4jQtsmxZsTNhO09i",
            "funding": "unknown",
            "last4": "1111",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 10 Dec 2015 13:50:55 GMT
recorded_with: VCR 3.0.0
