!!! 5
%html(lang="en-US")
  %body
    %p Hi #{@user.fullname},
    %p
      Please
      = link_to "click here", reset_password_url(@user.token)
      to reset your password.
    %p Cheers,
    %p MyFlix Team

