!!! 5
%html(lang="en-US")
  %body
    %p Hi #{@user.fullname},
    %p
      Welcome to MyFlix!
    %p
      Please login using your email address:
      = @user.email
    %p Cheers,
    %p MyFlix Team

